<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.easytop.lesson03.resultMap.xml.StudentMapper">
 
  
  <!-- 映射多对1关系 autoMapping表示相同的列自动映射 -->
  <resultMap type="student" id="studentMap" autoMapping="true">
     <!-- 列和属性的关系  主键使用id 非主键 使用result -->
     <id column="sid" property="sid"/>
     <!-- SELECT * FROM grade WHERE gid=${学生信息中的gid} -->
     <association property="grade" column="gid" select="cn.easytop.lesson03.resultMap.xml.GradeMapper.queryGradeByGid" ></association>
  </resultMap>
  
  <select id="queryStudent" resultMap="studentMap" >
      select * from student where sid=#{0}
  </select>
  
  <select id="queryStudentByGid" resultType="student" >
      select * from student where gid=#{0}
  </select>
  

</mapper>
